@use 'variables' as *;
$primary: #515ec1;
$body-bg: #f8f9fa;

// 2. Cargar Bootstrap completo usando @use
@use 'bootstrap/scss/bootstrap' with (
  $primary: $primary,
  $body-bg: $body-bg
);

// 3. Estilos personalizados
.construction-container {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

// Variables
// $primary-color: #3498db;
$secondary-color: #a68abe;
$footer-bg: #2c3e50;
// $text-color: #ecf0f1;
$heading-color: #34495e;

// Global Styles
body {
  font-family: Arial, sans-serif;
  // color: $text-color;
  // background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  // color: $heading-color;
  text-align: center;
}

h2 {
  margin-top: 30px;
}

.App-header {
  // background-color: $primary-color;
  // color: white;
  // padding: 20px;
  // text-align: center;
}

.footer {
  background-color: $footer-bg;
  // color: $text-color;
  padding: 10px 0;
  text-align: center;
  margin-top: 50px;
}

// Service Cards
.service-card {
  border: 1px solid $primary;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateY(-10px);
  }
  h5 {
    color: $primary;
  }
}

// Responsive Design
@media (max-width: 768px) {
  .service-card {
    margin-bottom: 20px;
  }
}

.section-about,
.section-services {
  padding: 40px 0;
}

// Accessibility Improvements
a {
  text-decoration: none;
}

a:focus,
a:hover {
  outline: 3px solid $primary;
  background-color: $secondary-color;
}
